{% extends "base.html" %}
{% block styles %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='MesIA.css') }}">
	{% endblock %}


	{% block main %}
    <title>Ajouter une IA</title>
    <h2>Ajouter une Intelligence Artificielle</h2>
    <form action="" id="formAdd" method=post enctype=multipart/form-data>
      <p class="custom-file-upload">
				<input type=file id="file" name="myfile"/>
        <input type=submit class="btn-primary" value="Envoyer mon fichier"/>
			 </div>
			 


    </form>
    {% endblock %}
