<!DOCTYPE html>

{% extends "base.html" %}

{% block styles %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='apropos.css') }}">
	{% endblock %}



{% block main %}
<h1>A propos</h1>
<div class="aprop">
  <p>Jeu réalisé dans le but du projet tutoré de 2ème année de DUT Informatique à Orléans (45).
	<p>Membres du projet: Bedrane Nicolas, Eddamani Othmane, Guérin Théo, Kremer Quentin, Lecomte Clément, Pallu Flavien, Picard Quentin.
</br>
<p>Chef de projet: Clément Lecomte 06 65 55 58 54</p>
<p>Email: clement.lecomte@etu.univ-orleans.fr</p>

</div>
<h1>Contactez nous via le site</h1>
<form class="cf">
  <div class="half left cf">
    <input type="text" id="input-name" placeholder="Name">
    <input type="email" id="input-email" placeholder="Email address">
    <input type="text" id="input-subject" placeholder="Subject">
  </div>

  <div class="half right cf">
    <textarea name="message" type="text" id="input-message" placeholder="Message"></textarea>
  </div>
  <input type="submit" value="Submit" id="input-submit">
</form>
{% endblock %}
