<!DOCTYPE html>

{% extends "base.html" %}

{% block main %}

<h1 style="padding-top : 60px"> 
	Bienvenue sur CodIA {{ prenom }} !! 
	</h1>
	<p>Vous pouvez désormer avoir accés à vois IA: 
	<a href="{{ url_for('MesIA') }}" class="btn btn-lg btn-danger" role="button">Mes IA</a></p>


{% endblock %}
