{% extends "base.html" %}
{% block content %}
<!-- <div id="servermsg"><h1>Message log:</h1></div> -->
<div class="game">
	<body onload="init();">
	 <canvas id="gameCanvas" width="500" height="300"></canvas>
	</body>

</div>
{% endblock %}
{% block scripts %}
	{{super()}}
	<script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
	<script src="{{url_for('.static', filename='game.js')}}"></script>
{% endblock %}
