h2{
	text-align: center;

}

button{
	margin-top: 2%;

}

.btn-primary {
    background-color: #FF8C00; /* Green */
    border-radius: 4px;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

aside{
	margin-top: 1%;
	float:left;
	width:30%;
	height: 100%;
}

.mesia{
	margin-top: 2%;
	text-align: center;

}
li{
	list-style-type: none;
}
p{
	font-size: 20px;
}

.inputfile{
	text-align: left;
}
